<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body { background-color: #222; color: white; }
        .menu-section { margin: 20px 0; }
        .menu-item img { width: 100px; height: 100px; border-radius: 10px; }
    </style>
</head>
<body>
    <div class="container">
       
        <h1 class="text-center my-4">Sookdee Menu</h1>
        {% for category in categories %}
        <button type="button" class="btn btn-outline-primary">{{ category.name }}</button>
        {% endfor %}
        <br>
        {% for category in categories %}
        <div class="menu-section">
            <h4 class="text-warning">{{ category.name }}</h4>
            <hr>
            <div class="row">
                {% for item in menu_items %}
                {% if item.category == category %}
                <div class="col-md-4 col-6 d-flex align-items-center mt-2">
                    <div class="menu-item d-flex">
                        {% if item.image %}
                        <a href="#"><img src="{{ item.image.url }}" alt="{{ item.name }}" class="me-3"></a>
                        {% endif %}
                        <div>
                            <h5>{{ item.name }}</h5>
                            <p>${{ item.price }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
