{% extends "base/back/base_admin.html" %}

{% block title %} Edit Product {% endblock title %}
{%load static %}

{% block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
	  <div class="row mb-2">
		<div class="col-sm-6">
		  <h1>Edit Product </h1>
		</div>
		<div class="col-sm-6">
		  <ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="{% url 'product-managment'%}">Home</a></li>
			<li class="breadcrumb-item active"> Edit Product </li>
		  </ol>
		</div>
	  </div>
	</div><!-- /.container-fluid -->
</section>

<section class="content">
	<form action="{% url 'update-product' product.id %}" method="post"  enctype="multipart/form-data">
		{% csrf_token %}

		<!-- Default box -->

		<div class="card card-warning">

			<div class="card-header">
                <h3 class="card-title">โหมดแก้ใขข้อมูลสิค้า</h3>
            </div>

			<div class="card-body">
 					<div class="row">
					<!--Product Image show-->

					<div class="col-12 col-sm-6">
						<h3 class="d-inline-block d-sm-none">รูปภาพสินค้า</h3>

						<div class="col-12">
							<div class="card border-primary">
								<img src="{{ product.image.url }}" class="product-img-container" alt="{{ product.name }}">
							</div>
							<!-- productImages -->
							<div class="form-group">
								<label for="image" class="form-label">อัพโหลดภาพสินค้า <span><code>รูปภาพขนาดที่เหมาะสม 500x500px</code></span></label>
								<input type="file" id="image" name="image" class="form-control" multiple accept="image/*" value={{ product.image.url }}>
								<small><li>การอัพโหลดข้อมูลรูปภาพ ผู้ใช้ควรอัพโหลดมากกว่า 1 ภาพสำหรับการแสดงผล เพื่อให้รายการแสดงสินค้าสำหรับลูกค้าได้เห็น สินค้าหลากหลายรูปแบบสำหรับตัดสินใจ</small>
							</div>
						</div>

						<div class="col-12">
							<div class="preview-container img" id="previewContainer"></div>
						</div>

					</div>					


					<div class="col-12 col-sm-6">
						<div class="row">
							<!-- inputCategory -->
							<div class="col-md-12">
								<div class="form-group">
									<label for="category">หมวดหมู่สินค้า</label>								
									<select id="category" Required name= "category" class="form-control custom-select">
									<option value="{{ product.category.id }}">{{ product.category }}</option>
									{% for categ in categorys %}							
									<option>{{ categ }}</option>
									{% endfor %}
									</select>
								</div>
							</div>

							<!-- inputName th-->
							<div class="col-md-6">
								<div class="form-group">
									<label for="name_th">ชื่อสินค้า TH <small>รหัสสินค้า <code><b>{{ product.id }}</b></code></small></label>
									<input type="text" id="name_th" name="name_th" class="form-control" value="{{ product.name }}">
								</div>
							</div>
							<!-- inputName en-->
							<div class="col-md-6">
								<div class="form-group">
									<label for="name_en">ชื่อสินค้า En</label>
									<input type="text" id="name_en" name="name_en" class="form-control" value="{{ product.name_en }}" Required>
								</div>
							</div>							
							<!-- inputPrice -->
							<div class="col-md-3">

								<div class="form-group">
									<label for="price">ราคา</label>
									<input type="number" id="price" Required name="price" class="form-control" min="0" Required value="{{ product.price }}">
								</div>
							</div>
							<!-- inputQuantity -->
							<div class="col-md-3">
								<div class="form-group">
									<label for="quantity">จำนวนสินค้า</label>
									<input type="number" Required id="quantity" name="quantity" class="form-control" min="0" max="999" value="{{ product.quatity }}" Required>
								</div>
							</div>
							<!-- inputUnit -->
							<div class="col-md-3">
								<div class="form-group">
									<label for="unit">หน่วยสินค้า </label>
									<select id="unit" Required name= "unit" class="form-control custom-select">
									<option value="{{ product.unit}}">{{ product.unit}}</option>
									{% for unit in units %}						
									<option value="{{ unit.id }}">{{ unit }}</option>
									{% endfor %}
									</select>
								</div>
							</div>
							<!-- inputRate -->
							<div class="col-md-3">
								<div class="form-group">
									<label for="rate">คะแนน</label>
									<input type="number" id="rate" name="rate" class="form-control" min="0" max="5" value="{{ product.rate }}" Required>
								</div>
							</div>
							<!-- input Comments-->
							<div class="col-md-12">
								<div class="form-group">
									<label for="component"> ส่วนประกอบ </label>
									<textarea id="component" name="component" class="form-control" rows="4">{{ product.component}}</textarea>

								</div>
							</div>
							<!-- input Descripstion -->
							<div class="col-md-12">
								<div class="form-group">
									<label for="description">รายละเอียดอื่นๆ</label>
									<textarea id="description" name="description" class="form-control" rows="4" > {{ product.description }} </textarea>	
								</div>
							</div>
							<!-- input Profit -->
							<div class="col-md-12">
								<div class="form-group">
									<label for="profit">คุณประโยชน์</label>
									<textarea id="profit" name="profit" class="form-control" rows="4"> {{ product.profit }} </textarea>
								</div>

							</div>

							<!-- input stock เหลือ สถานะที่ควรจะเตือนหลังจากที่สิน ค่ามีน้อยกว่า 5 ให้แจ้งเตือนสินค้าใกล้จะหมด-->	
							<div class="col-md-12">
								<div class="card-group">
									<div class="card">
										<div class="card-header">
											หากต้องการนำสินค้าโชว์หน้าร้านเพื่อวางขาย เลือก <code>โชว์สินค้าหน้าร้าน </code>
										</div>									
										<div class="card-body">
											<p>สินค้า  {{product.stock }} </p>
											{% if product.stock == True %} 
											<div class="form-group">
												<div class="form-check">
													<input class="form-check-input" type="radio" name="radio" id="Ture" value="Ture" checked>
													<label class="form-check-label">โชว์สินค้าหน้าร้าน</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="radio" id="False" value="False">
													<label class="form-check-label">ยกเลิก</label>
												</div>											
											</div>
											{% else %}
											<div class="form-group">
												<div class="form-check">
													<input class="form-check-input" type="radio" name="radio" >
													<label class="form-check-label">โชว์สินค้าหน้าร้าน</label>
												</div>
												<div class="form-check">
													<input class="form-check-input" type="radio" name="radio" checked>
													<label class="form-check-label">ยกเลิก</label>
												</div>											
											</div>
											{%endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<hr>



						<div class="mt-4">
							<button type = "submit" class="btn btn-warning btn-lg btn-flat">
							<i class="fas fa-cart-plus fa-lg mr-2"></i>
							Update product
							</button>
			
							<a href="{% url 'store' %}" class="btn btn-default btn-lg btn-flat">
								<i class="fas fa-cart-plus fa-lg mr-2"></i>
								Cancle 
								</a>
						</div>


					</div>
				</div>

			</div>
			<!-- /.card-body -->


		<!-- /.card -->
		</div>
	</form>
	</div>
</section>


  {% endblock %}