{% extends "base/base_admin.html" %}

{% block title %} Unit Managment {% endblock title %}
{%load static %}

{% block content%}

<div class="content-header">
	<div class="container-fluid">
	  <div class="row mb-2">
		<div class="col-sm-6">
		  <h1 class="m-0">หน่วยสินค้า</h1>
		</div><!-- /.col -->
		<div class="col-sm-6">
		  <ol class="breadcrumb float-sm-right">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Add Unit</li>
		  </ol>
		</div><!-- /.col -->
	  </div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>


<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header ui-sortable-handle" style="cursor: move;">					  
						<h3 class="card-title">หมวดหมู่สินค้า	</h3>									
						<a class="btn btn-outline-success btn-sm float-left" data-toggle="modal" data-target="#modal-addnew{{category.id}}"> <i class="fas fa-plus"></i> เพิ่มใหม่  </a>
						<div class="card-tools">
							<ul class="pagination pagination-sm">
								<li class="page-item"><a href="#" class="page-link">«</a></li>
								<li class="page-item"><a href="#" class="page-link">1</a></li>
								<li class="page-item"><a href="#" class="page-link">2</a></li>
								<li class="page-item"><a href="#" class="page-link">3</a></li>
								<li class="page-item"><a href="#" class="page-link">»</a></li>
							</ul>
						</div>

					</div>
					<!-- /.card-header -->
					
					
					<div class="card-body">
						<table class="table table table-striped table-valign-middle">
							<thead>
							  <tr>
								<th style="width: 10px">#</th>
								<th>รายชื่อหมวดหมู่</th>
								<th>รายละเอียด</th>
								<th>Action</th>
							  </tr>
							</thead>

							<tbody>
								{% for item in unit_data %}
							  <tr>
								<td>
									{{forloop.counter }}
								</td>
								<td>
									<a href="" data-toggle="modal" data-target="#modal-unit{{item.id}}">{{ item.name}} </a> &nbsp; <sub> <span class="text-muted text-decoration-line-through">{{ item.date_stamp }}</span></sub>
								</td>
								<td>
									{% if item.check_data %}
									<small class="badge badge-success"><i class="fas fa-check-circle"></i> ปิดใช้งาน</small>

									{% else %}
									<small class="badge badge-danger"><i class="far fa-window-close"></i> ปิดใช้งาน </small>

									{%endif %}
								</td>
								<td>
									<a href="" data-toggle="modal" data-target="#UnitCategory{{item.id}}">ลบ</a>
								</td>
							  </tr>
							  		<!-- The Modal Edit-->
									<form action="{% url 'unit-update' item.id %}" method="post">
										{% csrf_token %}
										<div class="modal fade" id="modal-unit{{item.id}}" tabindex="-1" aria-labelledby="EditUnitModalLabel{{item.id}}" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">

													<div class="modal-header">
														<h4 class="modal-title"> <i class="fas fa-edit"></i> 
															แก้ใขหน่วยนับสินค้า
														</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">×</span>
														</button>
														
													</div>

													<div class="modal-body">
														<p><strong>Created :</strong> <small>{{ item.date_stamp }}</small></p>
														<div class="form-group">
															<label>ลำดับเลขที่</label>
															<input type="text" class="form-control" name="UnitId" value="{{ item.id }}">												

															<label>ชื่อหน่วยนับ</label>
															<input type="text" class="form-control" name="UnitName" value="{{ item.name }}">
														
														</div>

														<div class="icheck-success">
															<input type="checkbox" id="check_unit" name="check_unit">
															<label for="check_unit"> เปิดการใช้งาน	</label>
														  </div>												


													</div>
													<div class="modal-footer justify-content-between">
														<button class="btn btn-outline-warning btn-sm">
															<i class="fas fa-save"></i> อัพเดดข้อมูล
														</button>
													</div>
												</div>
											<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
									</form>

									<!-- The Modal Delete-->
									<form action="{% url 'delete-category' item.id %}" method="post"  >
										{% csrf_token %}								
										<div class="modal fade" id="UnitCategory{{category.id}}" tabindex="-1" aria-labelledby="DeleteModalLabel{{category.id}}" aria-hidden="true">
											<div class="modal-dialog">

												<div class="modal-content text-center">
													<div class="modal-header bg-default">
														<h4 class="modal-title">ลบข้อมูลหน่วยนับ ใช่หรือใหม่?</h4>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">×</span>
														</button>
													</div>
													<div class="modal-body text-center">
														<p><span>หมายเลข :</span> {{category.id }} <span> ชื่อหมวดหมู่ :</span>{{ category.name }}</p>

													</div>
													<div class="modal-footer justify-content-between">
														<button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
														<button type="submit" class="btn btn-danger"> ลบ</button>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
									</form>

									<!-- The Modal view Detial -->
									<form action="{% url 'category-managment' %}" method="post"  >
										{% csrf_token %}
										<div class="modal fade" id="modal-view{{ unit.id }}" tabindex="-1" aria-labelledby="modal-viewLabel{{ product.id }}" aria-hidden="true">
											<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header bg-success">
												<h5 class="modal-title" id="viewModalLabel{{ product.id }}">ดูรายละเอียดสินค้า</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">×</span>
												</button>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-md-12">
															<!-- Widget: user widget style 2 -->
															<div class="card card-widget widget-user-2">
															<!-- Add the bg color to the header using any of the bg-* classes -->
																<div class="widget-user-header ">
																	<!-- /.widget-user-image -->
																	<h3 class="widget-user-username">{{ unit.name }}</h3>
																</div>
															</div>
															<!-- /.widget-user -->
														</div>
													</div>
												</div>
												<div class="modal-footer justify-content-between bg-default">
													<button type="button" class="btn btn-edit-category" data-dismiss="modal">Close</button>
												</div>
											</div>
											<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div>
									</form>

							  	{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	  	<!-- /.row -->
	</div>
	<!-- /.container-fluid -->


	<form action="{% url 'add-category'%}" method="post"  >
		{% csrf_token %}
		<div class="modal fade" id="modal-addnew">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title">เพิ่มหมวดหมู่สินค้าใหม่</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
						
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label>ชื่อหมวดหมู่</label>
							<input type="text" class="form-control" name="CategoryName" >
						  </div>
					
						<div class="form-group">
							<label>รายละเอียดเพิ่มเติม</label>
							<textarea class="form-control" rows="3" placeholder="กรอกรายละเอียดหมวดหมู่" name="CategoryDescription"> </textarea>
						</div>
						<div class="form-group">
							<!-- <label for="customFile">Custom File</label> -->
		
							<div class="custom-file">
							  <input type="file" class="custom-file-input" id="CategoryImages">
							  <label class="custom-file-label" for="CategoryImages">โหลดภาพหน้าปก</label>
							</div>
						</div>

					</div>

					<div class="modal-footer justify-content-between">
						<button class="btn btn-outline-success btn-sm" type="submit"><i class="fas fa-save"></i> บันทึกข้อมูล</button>
					</div>
				</div>
			<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</form>

</section>


{% endblock content%}