<nav class="mt-2">
	<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
	 	<!-- Dashboard -->
		<li class="nav-item">
			<a href="{% url 'dashboard' %}" class="nav-link">
				<i class="fas fa-tachometer-alt"></i>
				<p>Dashboard </p>				
			</a>
		</li>
		<!-- หน้าร้าน -->
		<li class="nav-item">

			<a href="{% url 'pos' %}" class="nav-link">
				<i class="fa fa-home" ></i>     
				<p> หน้าร้าน <i class="fas fa-angle-left right"></i></p>
			</a>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="{% url 'pos' %}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>โปรแกรมขายหน้าร้าน</p>
					</a>
				</li> 
			</ul>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="{% url 'shop' %}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>สินค้าหน้าร้าน </p>
					</a>
				</li> 
			</ul>

		</li>

		<!-- สต๊อกสินค้า -->
		<li class="nav-item">

			<a href="#" class="nav-link">
				<i class="fab fa-stack-exchange"></i>		
				<p> สต๊อกสินค้า <i class="fas fa-angle-left right"></i> </p>
			</a>

			<ul class="nav nav-treeview" >
				<li class="nav-item">
					<a href="{% url 'product-managment' %}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>สินค้าทั้งหมด</p>
					</a>
				</li> 
			</ul>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="{% url 'category-managment' %}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>หมวดหมู่สินค้า</p>
					</a>
				</li> 
			</ul>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="{% url 'unit-managment' %}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>หน่วยนับสินค้า</p>
					</a>
				</li> 
			</ul>
		</li>
		<!-- พนักงาน -->
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fab fa-stack-exchange"></i>		
				<p> พนักงาน <i class="fas fa-angle-left right"></i> </p>
			</a>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-copy"></i>
						<p>พักงานทั้งหมด</p>
					</a>
				</li> 
			</ul>
		</li>
		<!-- ลูกค้า -->
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fab fa-stack-exchange"></i>		
				<p> ลูกค้า <i class="fas fa-angle-left right"></i> </p>
			</a>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-copy"></i>
						<p>ลูกค้าทั้งหมด</p>
					</a>
				</li> 
			</ul>
		</li>

		<!-- ตั้งค่า -->
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fas fa-wrench"></i>
				<p>	ตั้งค่า	<i class="fas fa-angle-left right"></i></p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="{% url 'setting-general'%}" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p>ตั้งค่าทั่วไป</p>
					</a>
				</li> 
			</ul>

			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="far fa-circle nav-icon"></i>
						<p> จัดการโฆษณา </p>
					</a>
				</li> 
			</ul>

		</li>

	</ul>
</nav>